{{ template "base.tmpl" . }}
{{ define "tools" }}
<div class="full-width">
    <div class="tools-content">
        <div class="tools-left-menu">
            <div class="card" style="width: 300px">
                <button class="tools-menu-btn">Запуск команды на отправку ежедневных уведомлений</button>
            </div>
        </div>
        <div class="tools-output card">
            Output
        </div>
    </div>

</div>
{{ end }}